<div class="pt-4">
    <!-- <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
        target="_blank" role="button">Download MDB
        <i class="fas fa-download ml-2"></i>
    </a>
    <a class="btn btn-outline-white" href="https://mdbootstrap.com/education/bootstrap/" target="_blank"
        role="button">Start
        free tutorial
        <i class="fas fa-graduation-cap ml-2"></i>
    </a> -->
</div>
<!--/.Call to action-->


<!-- Social icons -->
<div class="pb-4">








    <a href="https://github.com/mdbootstrap/bootstrap-material-design" target="_blank">
        <i class="fab fa-github mr-3"></i>
    </a>

</div>
<!-- Social icons -->

<!--Copyright-->
<div class="footer-copyright py-3">
    © 2019 Copyright:
    <a href="" target="_blank"> E-Store </a>
</div>
<!--/.Copyright-->